*{
	margin:0;
	padding:0;
}
html,body{
  width: 100%;
  height:100%;
}
.swiper-slide {
  width:100%;
  height: 100%;
  text-align: center;
}
.swiper-wrapper{
  width: 100%;
}
.swiper-container{
  width: 100%;
  height: 100%;
}
img{
  display:block;
}
/*箭头动画*/
@-webkit-keyframes tipmove{
      0%{bottom:10px;opacity:0}
      50%{bottom:20px;opacity:1}
      100%{bottom:30px;opacity:0}
    }
@keyframes tipmove{
      0%{bottom:10px;opacity:0}
      50%{bottom:20px;opacity:1}
      100%{bottom:30px;opacity:0}
    }
/*提示按钮*/
#tip{
  position:absolute;
  -webkit-animation: tipmove 1.5s infinite ease-in;
  animation:tipmove 1.5s infinite ease-in;
  width:9.25%;
  height:3.2%;
  left:50%;
  margin-left:-4.625%;
  z-index:111;
}
/*页面样式*/
.welcome{
  background:url(../images/w-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-1{
  background:url(../images/1-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-2{
  background:url(../images/2-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-3{
  background:url(../images/3-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-4{
  background:url(../images/4-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-5{
  background:url(../images/5-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-6{
  background:url(../images/6-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-7{
  background:url(../images/7-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-8{
  background:url(../images/8-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-9{
  background:url(../images/9-bg.png) no-repeat;
  background-size: 100% 100%;
}
.page-10{
  background:url(../images/10-bg.png) no-repeat;
  background-size: 100% 100%;
}
/*音乐按钮*/
#audio-btn{
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}
.on{
  background: url('../images/music_on.png') no-repeat 0 0;
  -webkit-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;
  animation-play-state:running;
  -webkit-animation-play-state:running;
}
.off{
  background: url('../images/music_off.png') no-repeat 0 0;
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
}
/*音乐按钮动画*/
@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
    from{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}
/*页面样式*/
/*欢迎页*/
.w-1{
	position: absolute;
	width: 30%;
    height: auto;
    top: 34%;
    left: 20%;
  	-webkit-animation: rotating 3s linear infinite;
  	animation: rotating 3s  linear infinite;
  	-webkit-animation-play-state:running;
}	
.w-2{
	position: absolute;
    width: 34%;
    height: auto;
    bottom: 5%;
    left: 50%;
    margin-left: -17%;
    -webkit-animation: tipmove 1.5s infinite ease-in;
 	animation:tipmove 1.5s infinite ease-in;
}
/*第一页*/
.p1-1 {
	position: absolute;
	width: 48%;
	height: 16%;
	top: 5%;
	left: 50%;
	margin-left: -24%;
}
.p1-2{
	position: absolute;
	width: 44%;
	height: 10%;
	top: 31%;
	left: 4%;
}
.p1-3{
	position: absolute;
	width: 44%;
	height: 10%;
	top: 31%;
	right: 4%;
}
.p1-4{
	position: absolute;
	width: 88%;
	height: 25%;
	top: 43.6%;
	left: 50%;
	margin-left: -44%;
}
.p1-5{
	position: absolute;
	width: 40.6%;
	height: 8.3%;
	top: 70.8%;
	left: 4.6%;
}
.p1-6{
	position: absolute;
	width: 40.6%;
	height: 8.3%;
	top: 70.8%;
	right: 4.6%;
}
.p1-7{
	position: absolute;
	width: 50%;
	height: 4.16%;
	top: 83.3%;
	left: 50%;
	margin-left: -25%;
}
.p1-8{
	position: absolute;
	width: 15.6%;
	height: 8.3%;
	top: 89.5%;
	left: -3px;
}

/*第二页*/
.p2-0{
	position: absolute;
	width: 62.4%;
	height: 62.4%;
	top: 13.5%;
	left: 50%;
	margin-left: -31.2%;
}
.p2-1{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.p2-2{
	position: absolute;
	width: 26%;
	height: auto;
	top: 5%;
	right: 5%;
}
.p2-3{
	position: absolute;
	width: 20%;
	height: auto;
	top: 35%;
	right: -15%;
}
.p2-4{
	position: absolute;
	width: 25%;
	height: auto;
	top: 54%;
	left: 37.5%;
}
.p2-5{
	position: absolute;
	width: 15%;
	height: auto;
	top: 40%;
	left: 5%;
}
.p2-6{
	position: absolute;
	width: 25%;
	height: auto;
	top: 5%;
	left: 7.5%;
}
.p2-7{
	position: absolute;
	width:31.25%;
	height: 2.7%;
	top: 10.4%;
	left: 62.18%;
}
.p2-8{
	position: absolute;
	width:31.25%;
	height: 2.7%;
	top: 48.4%;
	left: 65.62%;	
}
.p2-9{
	position: absolute;
	width:15.625%;
	height: 2.7%;
	top: 52.75%;
    left: 7.5%;
}
.p2-10{
	position: absolute;
	width:15.625%;
	height: 2.7%;
	top: 23%;
	left: 81.25%;	
}
.p2-11{
	position: absolute;
	width:28.125%;
	height: 2.7%;
	top: 11%;
    left: 6.4%;
}
.p2-12{
	position: absolute;
	width:15.625%;
	height: 2.7%;
	top: 23%;
	left: 4.08%;	
}
.p2-13{
	position: absolute;
	width:34.4%;
	height: 8.4%;
	top: 62.9%;
	left: 12.5%;	
}
.p2-14{
	position: absolute;
	width:34.4%;
	height: 8.4%;
	top: 62.9%;
	right: 12.5%;	
}
.p2-15{
	position: absolute;
	width:94%;
	height: 3.125%;
	top: 75%;
	left: 50%;	
	margin-left: -47%;
}
.p2-16{
	position: absolute;
	width:46.8%;
	height: 14.58%;
	bottom:0;
	left: 50%;	
	margin-left: -23.4%;
}

/*第三页*/
.p3-1{
	position: absolute;
	width:100%;
	height: 41.6%;
	bottom:0;
	left: 0;	
}
.p3-2{
	position: absolute;
	width:100%;
	height: 16.6%;
	top:0;
	left: 0;	
}
.p3-3{
	position: absolute;
	width:75%;
	height: 8.33%;
	top:16.6%;
	left: 50%;	
	margin-left: -37.5%;
}
.p3-4{
	position: absolute;
	width:50%;
	height: 5.2%;
	top:27.08%;
	left: 50%;	
	margin-left: -25%;
}
.p3-5{
	position: absolute;
	width:87.5%;
	height: 10.5%;
	top:41.66%;
	left: 50%;	
	margin-left: -43.75%;
}
/*第四页*/
.p4-1{
	position: absolute;
	width:56.2%;
	height: 8.3356%;
	top:4.16%;
	left: 50%;	
	margin-left: -28.1%;
}
.p4-2{
	position: absolute;
	width:75%;
	height: 6.5%;
	top:16.66%;
	left: 50%;	
	margin-left: -37.5%;
}
.p4-3{
	position: absolute;
	width:87.5%;
	height: 12.5%;
	top:29.17%;
	left: 50%;	
	margin-left: -43.75%;
}
.p4-4{
	position: absolute;
	width:93.74%;
	height: 41.66%;
	bottom:6.25%;
	left: 50%;	
	margin-left: -46.87%;
}
/*第五页*/
.p5-1{
	position: absolute;
	width:75%;
	height: 6.25%;
	top:12.5%;
	left: 50%;	
	margin-left: -37.5%;
	z-index:5;
}
.p5-2{
	position: absolute;
	width:81.25%;
	height: 10.41%;
	top:25%;
	left: 50%;	
	margin-left: -40.625%;
	z-index:5;
}
.p5-3{
	position: absolute;
	width:62.5%;
	height: 21.41%;
	top:52.08%;
	left: 50%;	
	margin-left: -31.25%;
	z-index:5;
}
.p5-4{
	position: absolute;
	width:31.25%;
	height: 10.41%;
	top:50%;
	left: 15.625%;	
	z-index:4;
}
.p5-5{
	position: absolute;
	width:31.25%;
	height: 21.4%;
	top:41.66%;
	left: 6.25%;	
	z-index:4;
}
.p5-6{
	position: absolute;
	width:18.75%;
	height: 5.41%;
	top:45.8%;
	right: 9.4%;	
	z-index:5;
}
/*第六页*/
.p6-1{
	position: absolute;
	width:31.25%;
	height: 35.41%;
	top:54.6%;
	left: 50%;	
	margin-left: -15.625%;
	z-index: 2;
}
.p6-2{
	position: absolute;
	width:31.25%;
	height: 6.25%;
	top:6.25%;
	left: 50%;	
	margin-left: -15.625%;
}
.p6-3{
	position: absolute;
	width:50%;
	height: 4.16%;
	top:14.58%;
	left: 50%;	
	margin-left: -25%;
}
.p6-4{
	position: absolute;
	width:81.25%;
	height: 9.375%;
	top:20.83%;
	left: 50%;	
	margin-left: -40.625%;
}
.p6-5{
	position: absolute;
	width:18.75%;
	height: 10.42%;
	top:64.58%;
	left: 65.62%;	
}
.p6-6{
	position: absolute;
	width:15.62%;
	height: 10.42%;
	top:45.83%;
	left: 65.62%;	
}
.p6-7{
	position: absolute;
	width:15.62%;
	height: 12.5%;
	top:39.58%;
	left: 40.625%;	
}
.p6-8{
	position: absolute;
	width:15.62%;
	height: 10.42%;
	top:45.83%;
	left: 18.75%;	
}
.p6-9{
	position: absolute;
	width:15.62%;
	height: 8.33%;
	top:64.58%;
	left: 15.625%;	
}
/*第七页*/
.p7-1{
	position: absolute;
	width:62.5%;
	height: 6.25%;
	top:6.25%;
	left: 50%;	
	margin-left:-31.25%;
}
.p7-2{
	position: absolute;
	width:75%;
	height: 10.42%;
	top:16.66%;
	left: 50%;	
	margin-left:-37.5%;
}
.p7-3{
	position: absolute;
	width:7.8%;
	height: 20.83%;
	top:62.5%;
	left: 37.5%;	
}
.p7-4{
	position: absolute;
	width:7.8%;
	height: 20.83%;
	top:62.5%;
	left: 28.125%;	
}
.p7-5{
	position: absolute;
	width:7.8%;
	height: 20.83%;
	top:62.5%;
	left: 18.75%;	
}
.p7-6{
	position: absolute;
	width:7.8%;
	height: 20.83%;
	top:62.5%;
	left: 9.375%;	
}
.p7-7{
	position: absolute;
	width:37%;
	height: auto;
	top:62.5%;
	right: 6.25%;	
}
.p7-8{
	position: absolute;
	width:37%;
	height: auto;
	top:31.25%;
	left: 50%;	
	margin-left: -18.5%;
}
/*第八页*/
.p8-1{
	position: absolute;
	width:62.5%;
	height: 5.21%;
	top:6.25%;
	left: 50%;	
	margin-left: -31.25%;
	z-index:1;
}
.p8-2{
	position: absolute;
	width:75%;
	height: 15%;
	top:14.58%;
	left:50%;	
	margin-left: -37.5%;
	z-index:1;
}
.p8-3{
	position: absolute;
	width:87.5%;
	height: 46%;
	bottom:7.58%;
	left:50%;	
	margin-left: -43.75%;
	z-index: 2;
}
.p8-4{
	position: absolute;
	width:100%;
	height: 19.16%;
	bottom:0%;
	left:0%;	
	z-index: 1;
}

/*第九页*/
.p9-1{
	position: absolute;
	width:62.5%;
	height: 5.21%;
	top:6.25%;
	left: 50%;	
	margin-left: -31.25%;
	z-index:1;
}
.p9-2{
	position: absolute;
	width:75%;
	top:14.58%;
	left: 50%;	
	margin-left: -37.5%;
	z-index:1;
}
.p9-3{
	position: absolute;
	width:75%;
	top:41.66%;
	left: 50%;	
	margin-left: -37.5%;
	z-index: 1;
}
.p9-4{
	position: absolute;
	width:15.625%;
	top:42.08%;
	left: 18.75%;	
	z-index: 2;
}
.p9-5{
	position: absolute;
	width:18.75%;
	top:44.04%;
	right: 18.75%;	
	z-index: 2;
}
.p9-6{
	position: absolute;
	width:15.625%;
	top:74.91%;
	right: 20.31%;	
	z-index: 2;
}
.p9-7{
	position: absolute;
	width:17.19%;
	top:77.08%;
	left: 12.5%;	
	z-index: 2;
}
/*第十页*/
.p10-1{
	position: absolute;
	width:62.5%;
	height: 5.21%;
	top:6.25%;
	left: 50%;	
	margin-left: -31.25%;
}
.p10-2{
	position: absolute;
	width:75%;
	height: 8.33%;
	top:14.58%;
	left: 50%;	
	margin-left: -37.5%;
}
.p10-m{
	position: absolute;
	width:87.5%;
	height: 43.4%;
	top:41.66%;
	left: 50%;	
	margin-left: -43.75%;
}
.p10-3{
	position: absolute;
	width:100%;
	height: auto;
	top:0;
	left: 0;	
}
.p10-4{
	position: absolute;
	display: inline-block;
	width:15.28%;
	height: auto;
	top: 12.58%;
    left: 10.43%;
}
.p10-5{
	position: absolute;
	display: inline-block;
	width:14.28%;
	height: auto;
	top: 10.58%;
    left: 30.43%;
}
.p10-6{
	position: absolute;
	display: inline-block;
	width:14.28%;
	height: auto;
	top: 9.58%;
    left: 49.43%;
}
.p10-7{
	position: absolute;
	display: inline-block;
	width:14.28%;
	height: auto;
	top: 10.58%;
    left: 70.43%;
}
.p10-8{
	position: absolute;
	width:15.625%;
	height: 7.3%;
	top: 31.25%;
    right: 12.5%;
}
.p10-9{
	position: absolute;
	width:15.625%;
	height: 8.75%;
	top: 79%;
    left: 3.125%;
}
.p10-10{
	position: absolute;
	width:15.625%;
	height: 8.75%;
	top: 87%;
    right: 4.375%;
}




